.Margin-h4{
    margin-top: 160px;
    text-align: center;
}

.Margin-form{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
}

.Margin-input{
    text-align: center;
}

.bottom-login{
    margin-left: 250px;
    margin-right: 10px;
    color: lawngreen;
    border-color: lawngreen;
}

.bottom-cancel{
    color: rgba(255, 0, 0, 0.959);
    border-color: rgba(255, 0, 0, 0.959);
}